<!DOCTYPE html>
<html lang="en-US"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>
          NutsBoard: The Open Source of the industrial boards
      </title>
  <meta http-equiv="x-ua-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#456BD9">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="onesignal" content="wordpress-plugin">
          <link rel="manifest" href="#">
          <script async="" src="static/index/analytics.js"></script><script src="static/index/OneSignalSDK.js" async=""></script>
          <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-98519910-1', 'auto');
          ga('send', 'pageview');

          </script>
<link rel="stylesheet" id="toolkit-css" href="static/index/main.css" type="text/css" media="all">


</head>

  <body class="page-template page-template-template-our-work page-template-template-our-work-php page page-id-4265" data-template="base.twig" style="will-change: transform;">

    <div class="Sky ">
  <div class="u-containSpread">
    <header class="Sky-nav" role="banner">
      <ul class="Sky-nav-controls">
                <li><a class="Sky-nav-controls-skipToMain Button Button--defaultDark u-textNoWrap u-hiddenTillFocus" href="#main">Skip to main content</a></li>
        <li><a class="Sky-nav-controls-skipToMenu Button Button--defaultDark" href="#menu" aria-label="Skip to navigation">Menu</a></li>
      </ul>
      <a class="Sky-nav-logo" href="/">
               <img src="static/index/mq2-fb.png">
      </a>
            <nav class="Sky-nav-menu is-active" role="navigation" id="menu">
        <ul class="Sky-nav-menu-items">
      <li><a class="Sky-nav-menu-item" href="/" aria-current="">Home</a></li>
      <li><a class="Sky-nav-menu-item" href="/approach">About Us</a></li>
      <li><a class="Sky-nav-menu-item" href="/products">Products</a></li>
      <li><a class="Sky-nav-menu-item" href="/download">Download</a></li>
      <li><a class="Sky-nav-menu-item" href="/community">Community</a></li>
      <li><a class="Sky-nav-menu-item" href="/shop">Shop</a></li>
  </ul>
      </nav>
    </header>
  </div>
</div>

    <main role="main" id="main">

              <div class="Sky">
          <div class="u-containSpread">
              <div class="u-pad1">
    <h1 class="u-textGrow5 u-sm-textGrow6">
              Community
          </h1>
    <p class="u-textGrow1 u-containProse u-spaceSidesNone">
      Welcome to visit our forum and blog, leave any comments or questions if you have.
    </p>
  </div>
          </div>
        </div>
      
      <div class="u-bgWhite">
          <div class="u-containSpread u-pad1">
          <div class="Grid Grid--alignMiddle Grid--withGutter u-padEnds6">
        <div class="Grid-cell u-sm-size3of4 u-md-size1of2 u-flexExpand u-md-spaceSidesNone">
          <div class="FlexEmbed WorkImage WorkImage--tilt">
  <div class="FlexEmbed-ratio FlexEmbed-ratio--4by3"></div>
  <div class="FlexEmbed-content">
    <svg class="u-posAbsoluteCenter u-block u-md-size7of8 u-lg-size3of4" role="presentation" viewBox="0 0 922 684">
              <defs>
          <clipPath id="WorkImage-viewportLarge">
            <path d="M3 33 L845 33 Q845 33 845 33 L845 644 Q845 653 836 653 L12 653 Q3 653 3 644 L3 33 Q3 33 3 33 Z"></path>
          </clipPath>
          <g id="WorkImage-frameLarge">
            <rect class="WorkImage-bezel" width="848" height="656" rx="10"></rect>
            <circle class="WorkImage-detail" cx="17" cy="17" r="6"></circle>
            <path class="WorkImage-screen" d="M3.5 33.5 L844.5 33.5 Q844.5 33.5 844.5 33.5 L844.5 644 Q844.5 652.5 836 652.5 L12 652.5 Q3.5 652.5 3.5 644 L3.5 33.5 Q3.5 33.5 3.5 33.5 Z"></path>
          </g>
          <g id="WorkImage-frameSmall">
            <rect class="WorkImage-bezel" width="250" height="468" rx="20"></rect>
            <circle class="WorkImage-detail" cx="125" cy="25" r="6"></circle>
            <rect class="WorkImage-detail WorkImage-detail--alt" x="95" y="434" width="60" height="18" rx="9"></rect>
            <rect class="WorkImage-screen" x="3.5" y="50.5" width="243" height="367"></rect>
          </g>
        </defs>
            <g class="WorkImage-large">
        <use xlink:href="#WorkImage-frameLarge"></use>
                  <image xlink:href="static/community/ruten-big.png" x="3" y="33" width="842" height="620" preserveAspectRatio="xMidYMin slice" clip-path="url(#WorkImage-viewportLarge)"></image>
              </g>
      <g class="WorkImage-small" transform="rotate(6 50 50)">
        <use xlink:href="#WorkImage-frameSmall" x="670" y="120"></use>
                  <image xlink:href="static/community/ruten-small.png" x="673" y="170" width="244" height="368" preserveAspectRatio="xMidYMin slice"></image>
              </g>
    </svg>
  </div>
</div>
        </div>
        <div class="Grid-cell u-sm-size3of4 u-md-size5of12 u-spaceTop1 u-md-spaceTopNone u-flexExpand u-md-spaceNone">
        <a href="http://nutsboard.blogspot.tw" class="u-linkClean">
          <h2>Official Blog</h2>
        </a>
        <p>
          </p><p>It's always update latest news here no matter technology or tradeshow relative contents, we adapted google blogger as our default blog engine, so welcome to leave your comments or share our 
          post if you like it!</p>

        <p></p>
        <a href="http://nutsboard.blogspot.tw" class="u-linkClean">
          <button class="Button Button--secondary u-spaceTop2">
            Visit Now
          </button>
        </a>
        </div>
      </div>

      <hr>
          <div class="Grid Grid--alignMiddle Grid--withGutter u-padEnds6">
        <div class="Grid-cell u-sm-size3of4 u-md-size1of2 u-flexExpand u-md-spaceSidesNone">
          <div class="FlexEmbed WorkImage WorkImage--tilt">
  <div class="FlexEmbed-ratio FlexEmbed-ratio--4by3"></div>
  <div class="FlexEmbed-content">
    <svg class="u-posAbsoluteCenter u-block u-md-size7of8 u-lg-size3of4" role="presentation" viewBox="0 0 922 684">
              <defs>
          <clipPath id="WorkImage-viewportLarge">
            <path d="M3 33 L845 33 Q845 33 845 33 L845 644 Q845 653 836 653 L12 653 Q3 653 3 644 L3 33 Q3 33 3 33 Z"></path>
          </clipPath>
          <g id="WorkImage-frameLarge">
            <rect class="WorkImage-bezel" width="848" height="656" rx="10"></rect>
            <circle class="WorkImage-detail" cx="17" cy="17" r="6"></circle>
            <path class="WorkImage-screen" d="M3.5 33.5 L844.5 33.5 Q844.5 33.5 844.5 33.5 L844.5 644 Q844.5 652.5 836 652.5 L12 652.5 Q3.5 652.5 3.5 644 L3.5 33.5 Q3.5 33.5 3.5 33.5 Z"></path>
          </g>
          <g id="WorkImage-frameSmall">
            <rect class="WorkImage-bezel" width="250" height="468" rx="20"></rect>
            <circle class="WorkImage-detail" cx="125" cy="25" r="6"></circle>
            <rect class="WorkImage-detail WorkImage-detail--alt" x="95" y="434" width="60" height="18" rx="9"></rect>
            <rect class="WorkImage-screen" x="3.5" y="50.5" width="243" height="367"></rect>
          </g>
        </defs>
            <g class="WorkImage-large">
        <use xlink:href="#WorkImage-frameLarge"></use>
                  <image xlink:href="static/community/forum-big.png" x="3" y="33" width="842" height="620" preserveAspectRatio="xMidYMin slice" clip-path="url(#WorkImage-viewportLarge)"></image>
              </g>
      <g class="WorkImage-small" transform="rotate(6 50 50)">
        <use xlink:href="#WorkImage-frameSmall" x="670" y="120"></use>
                  <image xlink:href="static/community/forum-small.png" x="673" y="170" width="244" height="368" preserveAspectRatio="xMidYMin slice"></image>
              </g>
    </svg>
  </div>
</div>
        </div>
        <div class="Grid-cell u-sm-size3of4 u-md-size5of12 u-spaceTop1 u-md-spaceTopNone u-flexExpand u-md-spaceNone">
        <a href="http://www.nutsboard.org:4567/" class="u-linkClean">
          <h2>Official Forum</h2>
        </a>
        <p>
          </p><p>Although our forum not so much makers here, but we also want to provide a place let our customers asking questions, welcome to register a account, starting post your 1st post on forum, 
          our online customer service also could answer you if you leave questions. </p>

        <p></p>
        <a href="http://www.nutsboard.org:4567" class="u-linkClean">
          <button class="Button Button--secondary u-spaceTop2">
            Visit Now
          </button>
        </a>
        </div>
      </div>

  </div>
        <div class="u-containSpread">
  <hr class="u-space1 u-spaceBottomNone">
  <div class="u-posRelative">
    <p class="u-pad1 u-size2of3">
      <span class="u-inlineBlock u-textGrow1 u-spaceRight u-textNoWrap">
        Welcome to discuss your application!
      </span>
      <a class="Button Button--secondary u-spaceEnds01 u-textNoWrap" href="mailto:nutsboard@gmail.com">
        Email Us
      </a>
    </p>
  </div>
</div>
      </div>

    </main>

    <footer class="u-containSpread u-padSides1 u-padTop2 u-padBottom3" role="contentinfo">
  <div class="Grid u-posRelative">
    <div class="Grid-cell u-sm-size1of2 u-md-size1of3">
      <p>
        <a href="http://www.nutsboard.org"><strong>NutsBoard.Org</strong></a>
      </p>
      <p>
        No.10, Rong-an,Road, Luzhu Dist., <br>
        Taoyuan City, Taiwan(R.O.C.)
      </p>
      <ul class="u-listUnstyled">
        <li><a href="mailto:mqservice01@gmail.com">nutsboard@gmail.com</a></li>
        <li><a href="tel:88633222201883">+886 3-3222201 ext:516</a></li>
      </ul>

    </div>
    <hr class="Grid-cell u-md-hidden u-spaceTop1 u-spaceBottomNone">
    <p class="Grid-cell u-spaceTop1 u-md-sizeFit u-md-flexAlignSelfEnd u-md-flexExpandLeft">
      <small>© 2017 NutsBoard, Org.</small>
    </p>
  </div>
</footer>

<script type="text/javascript" src="static/community/main.js"></script>


    <template id="offline-message-template">
      <div class="Message Message--warning" id="offline-message">
  <p>
    You seem to be offline at the moment.
    <span class="u-hidden u-md-inlineBlock">We’ll keep trying to connect.</span>
    <a class="u-textNoWrap" href="">Try again</a>
  </p>
  <button class="Message-close" onclick="this.parentElement.remove()">
        <svg viewBox="0 0 24 24" width="24" height="24" class="Icon Icon--block" aria-labelledby="Message-close-title"><title id="Message-close-title">Close</title><g transform="rotate(45 12 12)" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round"><line x1="12" y1="3" x2="12" y2="21"></line><line x1="3" y1="12" x2="21" y2="12"></line></g></svg>

  </button>
</div>
    </template>
  

</body></html>
