<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="static/download/css/print.css" media="print" />
<link rel="stylesheet" href="static/download/css/cavendish.css" media="screen" />
<link rel="stylesheet" href="static/download/css/blue.css" media="screen" />

</head>
<body class="">
<div id="internal"></div>
<div id="globalWrapper" class="view">
	<div id="header">
		<a name="top" id="contentTop"></a>
		<h6>
		<a href="#" title="Main Page">Almond</a></h6>
		<div id="p-cactions" class="portlet"><ul>

				<li id="ca-nstab-main" class="selected"><a href="#" title="View the content page">Page</a></li>
				<li id="ca-talk" class="new"><a href="/" title="Discussion about the content page">Home</a></li>
			     </ul></div>
            </div>
	<div id="mBody"> 
		<div id="side">
			<div id="nav">
	<div class="generated-sidebar portlet" id="p-Navigation" role="navigation">
            <h3>SoM</h3>
            <div class='pBody'>
                    <ul>
                            <li id="n-Main-Page"><a href="/download">Almond</a></li>
                    </ul>
            </div>
            </div>

            <div class="portlet" id="p-tb" role="navigation" >
                <h3>Carrier Board</h3>
                <div class="pBody">
                    <ul>
                            <li id="t-whatlinkshere"><a href="/walnut" title="wwww" accesskey="j">Walnut</a></li>
                    </ul>
                </div>
            </div>

            <div class="portlet" id="p-tb" role="navigation" >
                <h3>Mini PC Board</h3>
                <div class="pBody">
                </div>
            </div>
            </div>

</div>
		</div><!-- end of SIDE div -->
		<div id="column-content">
			<div id="content">
				<a id="top"></a>
								<h1 id="firstHeading" class="firstHeading">SoM</h1>
				<div id="bodyContent">
					<h3 id="siteSub">From Almond</h3>
					<div id="contentSub"></div>					
					<div id="mw-content-text" lang="en" dir="ltr" class="mw-content-ltr"><div style="width:100%; min-width:1000px;">
<table>

<table style="padding:15px; background-color: #61cde8; color: white; width:100%; font-size:25px; border-top-left-radius:5px; border-top-right-radius:5px;">
<tr>
<td>Almond
</td></tr></table>
<tr>
<td>
<table style="background-color: #F0F0FF; width:100%;">
<tr>
<td style="width:250px; padding:5px 25px 5px 25px;"><a href="st7b2.png" class="image" title="xxxx"><img alt="st7b2.png" src="static/products/img/almond.png" width="261" height="148" srcset="static/products/img/almond.png 1.5x, static/products/img/almond.png 2x" /></a>
</td>
<td style="padding:20px 30px 0px 0px; vertical-align:top; font-size:17px;">The Almond SoM is a modular, small and powerful TI AM335X system on a chip (SoC) that includes a CPU, DDR3 memory, storage and Wi-Fi and Bluetooth. The module can be mounted onto a system of Carrier Board with 203 pin SO-DIMM design, enabling quick adoption and prototyping for the consumer and industrial IoT applications.
<br>
<a rel="nofollow" class="external text" href="https://github.com/nutsboard/documents/raw/master/datasheet/almond.pdf">Download Datasheet</a>
<br>
<a rel="nofollow" class="external text" href="#">Download Quick Started Guide</a>
</td></tr></table>
</td></tr></table>
</div>
<div style="overflow:hidden; padding-top:20px; min-width:1000px; margin-top:-33px;">
<div style="width:75%;">
<p>
</p><p><br />
</p>
<!-- 1 Block start-->
<div style="width:28%; float:left; padding:0px 2% 0px 0px; display:inline-block;">
<table>

<table style="padding:10px; background-color: #DE4851; color: white; font-size:20px; width:100%; border-top-left-radius:5px; border-top-right-radius:5px;">

<tr>
<td>Linux
</td></tr></table>
<table style="background-color: #edc4b6; width:100%; height:540px;">

<tr>
<td style="padding-left: 4%; padding-right: 4%; vertical-align:top; max-width:100%;">
<br>

<img style="float: left;" src="static/download/img/linux.png" width="48" height="48" />
&nbsp;<b>SDK<br>&nbsp;GIT server & source</b>
<br><br>
<ul>
    <li><a href="#" title="github">&nbsp;&nbsp;&nbsp;Official Github</a></li>
</ul>
<ul>
    <li><a href="/LEDE" title="source tarball">&nbsp;&nbsp;&nbsp;Source Tarball (Kernel 4.4.32)</a></li>
</ul>
<img /></span>
<p><br>
<img style="float: left;" src="static/download/img/vm.png" width="48" height="48"/>
&nbsp;<b>Developer Tools<br>&nbsp;NutsBoard only</b>&nbsp;
</p>
<br>
<ul>
<li><a href="/LEDE" title="VM">&nbsp;&nbsp;&nbsp;Virtual Machine</a>
</li>
<li><a href="https://releases.linaro.org/components/toolchain/binaries/5.3-2016.02/arm-linux-gnueabihf/gcc-linaro-5.3-2016.02-x86_64_arm-linux-gnueabihf.tar.xz" title="toolchain">&nbsp;&nbsp;&nbsp;Cross Compiler (Linaro5.3-2016.02)</a>
</li>
</ul>

</td></tr>

<tr>
<td>
</td>
</td></tr></table>
</table>
</div>
<!-- 1 Block end-->

<!-- 2 Block start-->
<div style="width:28%; float:left; padding:0px 2% 0px 0px; display:inline-block;">
<table>

<table style="padding:10px; background-color: #a4c639; color: white; font-size:20px; width:100%; border-top-left-radius:5px; border-top-right-radius:5px;">

<tr>
<td>Basic OS
</td></tr></table>
<table style="background-color: #F2FAD9; width:100%; height:540px;">

<tr>
<td style="padding-left: 4%; padding-right: 4%; vertical-align:top; max-width:100%;">
<br>

<img style="float: left;" src="static/download/img/xenial-16.04.png" width="48" height="48" />
&nbsp;<b>Ubuntu server<br>&nbsp;16.04-LTS</b>
<br><br>
<ul>
    <li><a href="#" title="github">&nbsp;&nbsp;&nbsp;Runtime image</a></li>
</ul>
<img /></span>
</td></tr>

<tr>
<td>
</td>
</td></tr></table>
</table>
</div>


<!-- 2 Block end-->

<!-- 3 Block start-->
<div style="width:28%; float:left; padding:0px 2% 0px 0px; display:inline-block;">
<table>

<table style="padding:10px; background-color: #3498DB; color: white; font-size:20px; width:100%; border-top-left-radius:5px; border-top-right-radius:5px;">

<tr>
<td>Mini OS
</td></tr></table>
<table style="background-color: #E0F7FD; width:100%; height:540px;">

<tr>
<td style="padding-left: 4%; padding-right: 4%; vertical-align:top; max-width:100%;">
<br>

<img style="float: left;" src="static/download/img/buildroot.png" width="48" height="48" />
&nbsp;<b>Buildroot<br>&nbsp;201611</b>
<br><br>
<ul>
    <li><a href="#" title="github">&nbsp;&nbsp;&nbsp;Runtime image</a></li>
</ul>
<ul>
    <li><a href="#" title="github">&nbsp;&nbsp;&nbsp;Source code</a></li>
</ul>
<img /></span>

<p><br>
<img style="float: left;" src="static/download/img/yocto.png" width="96" height="42"/>
&nbsp;<b>Yocto<br>&nbsp;Krogoth 2.1</b>&nbsp;
</p>
<br>
<ul>
<li><a href="/LEDE" title="VM">&nbsp;&nbsp;&nbsp;Coming soon...</a>
</li>
</ul>

</td></tr>

<tr>
<td>
</td>
</td></tr></table>
</table>
</div>

<!-- 3 Block end-->

</div>

<!-- 5 Block start-->
<div style="width:30%; float:left; display:inline-block;">
<table style="padding:10px; background-color: #73b3ef; color: white; width:100%; font-size:20px; border-top-left-radius:5px; border-top-right-radius:5px;">
<tr>
<td>Specifications
</td></tr></table>
<table class="wikitable">
<tr><td><b>CPU</b></td><td>TI ARM Cortex-A8 AM335X up to 1GHz &nbsp &nbsp &nbsp &nbsp</td></tr>
<tr><td><b>GPU</b></td><td>PowerVR SGX530</td></tr>
<tr><td><b>Memory</b></td><td>Up to 1GB DDR3 (default 256MB)</td></tr>
<tr><td><b>Flash</b></td><td>16bit RGB LCD</td></tr>
<tr><td><b>PMIC</b></td><td>TI TPS65910</td></tr>
<tr><td><b>WiFi</b></td><td>802.11b/g/n (Optional)</td></tr>
<tr><td><b>Bluetooth</b></td><td>BT v4.2 (Optional)</td></tr>
<tr><td><b>EEPROM</b></td><td>AT24C 256KB</td></tr>
<tr><td><b>Watchdog Timer</b></td><td>x1</td></tr>
<tr><td><b>RTC</b></td><td>x1</td></tr>
<tr><td><b>Network</b></td><td>RGMIIx1, RMIIx1</td></tr>
<tr><td><b>USB Host/OTG</b></td><td>x2</td></tr>
<tr><td><b>Serial</b></td><td>x3</td></tr>
<tr><td><b>CAN bus</b></td><td>x1</td></tr>
<tr><td><b>I2C</b></td><td>x2</td></tr>
<tr><td><b>SPI</b></td><td>x1</td></tr>
<tr><td><b>SDIO</b></td><td>x1</td></tr>
<tr><td><b>ADC</b></td><td>x1</td></tr>
<tr><td><b>GPIO</b></td><td>x6</td></tr>
<tr><td><b>LCD</b></td><td>16-bit RGBx1</td></tr>
<tr><td><b>Dimensions</b></td><td>68x38mm</td></tr>
<tr><td><b>Certification</b></td><td>CE, FCC, RoHS, EMI, ESD</td></tr>
</table>
</div>
<!-- 5 Block end-->
</div>
<div id='catlinks' class='catlinks'><div id="mw-normal-catlinks" class="mw-normal-catlinks">Category : <ul><li><a href="/download" title="Category:Almond">Almond</a></li></ul></div></div>				
					</div>
			</div>	
		</div>
	</div>
	<div class="visualClear"></div>
	<div id="footer">
		<table>
			<tr>
				<td rowspan="2" class="f-iconsection">
						</td>
				<td align="center">
			</td>
			</tr>
		</table>
	</div>
</div></body></html>
