<!DOCTYPE html>
<html lang="en-US"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>
          NutsBoard: The Open Source of the industrial boards
      </title>
  <meta http-equiv="x-ua-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#456BD9">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="onesignal" content="wordpress-plugin">
          <link rel="manifest" href="#">
          <script async="" src="static/index/analytics.js"></script><script src="static/index/OneSignalSDK.js" async=""></script>
          <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-98519910-1', 'auto');
          ga('send', 'pageview');

          </script>
<link rel="stylesheet" id="toolkit-css" href="static/index/main.css" type="text/css" media="all">


</head>

  <body>

    <div class="Sky ">
  <div class="u-containSpread">
    <header class="Sky-nav" role="banner">
      <ul class="Sky-nav-controls">
        <li><a class="Sky-nav-controls-skipToMenu Button" href="#menu" ><b>Selection</b></a></li>
      </ul>
      <a  href="/">
               <img src="static/index/mq2-fb.png">
      </a>
            <nav class="Sky-nav-menu is-active">
        <ul class="Sky-nav-menu-items">
      <li><a class="Sky-nav-menu-item" href="/" aria-current=""><b>Home</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/approach"><b>About Us</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/products"><b>Products</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/download"><b>Download</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/community"><b>Community</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/shop"><b>Shop</b></a></li>
  </ul>
      </nav>
    </header>
  </div>
</div>

    <main role="main" id="main">

              <div class="Sky">
          <div class="u-containSpread">
              <div class="Grid Grid--alignMiddle u-spaceBottom1">
    <div class="Grid-cell u-md-size1of2 u-padSides1 u-md-padSidesNone u-md-flexOrderLast u-textCenter">
      <img class="u-limitHeight2of3" src="static/index/opi-zero.png" alt="" style="width: 400px; height: 400px;">
    </div>
    <div class="Grid-cell u-md-size1of2 u-padSides1 u-padBottom1 u-md-padTop1">
      <h1 class="u-textGrow5 u-sm-textGrow6 u-spaceRight1">
                  ARM based Embedded PC Coming!
              </h1>
      <p>
 NutsBoard Open Source Embedded Solutions
      </p>
    </div>
  </div>
          </div>
        </div>

      <div class="u-bgWhite">
          <div class="u-containProse u-pad1 u-padTop4 u-spaceItems1">
    <p>
    NutsBoard solutions are based on open source embedded technologies. Our goal is to build connected platforms for a wide variety of industrial PC or Internet-of-Things applications to the users.</p>
  </div>

  <div class="u-containSpread u-pad1 u-spaceTop2 u-spaceBottom3">
    <div class="Grid Grid--withGutter">
            <div class="Grid-cell u-sm-size1of2 u-lg-size1of3 u-spaceTop1">
        <div class="u-textCenter">
          <img style="height:16em" src="static/index/responsive.png">
          <h2>Embedded Fanless PC</h2>
          <p>Both can support commercial and industrial type.</p>
        </div>
      </div>
            <div class="Grid-cell u-sm-size1of2 u-lg-size1of3 u-spaceTop1">
        <div class="u-textCenter">
          <img style="height:16em" src="static/index/web-app-1.png">
          <h2>Tiny Form Factor</h2>
          <p>Included reliable PCB design for System-On-Modules and Single-Board-Computer.</p>
        </div>
      </div>
            <div class="Grid-cell u-sm-size1of2 u-lg-size1of3 u-spaceTop1">
        <div class="u-textCenter">
          <img style="height:16em" src="static/index/ux.png">
          <h2>High Quality Hardware</h2>
          <p>Ease of doing your own applications for any products with reliable board that is certified by several agency approvals.</p>
        </div>
      </div>
            <div class="Grid-cell u-sm-size1of2 u-lg-size1of3 u-spaceTop1">
        <div class="u-textCenter">
          <img style="height:16em" src="static/index/javascript.png">
          <h2>Multiple OS Support</h2>
          <p>Linux, Android and other OS including source codes are supportive.</p>
        </div>
      </div>
            <div class="Grid-cell u-sm-size1of2 u-lg-size1of3 u-spaceTop1">
        <div class="u-textCenter">
          <img style="height:16em" src="static/index/performance.png">
          <h2>Full Open Source</h2>
          <p>Follows GPL license so all software is fully open and downloadable.</p>
        </div>
      </div>
            <div class="Grid-cell u-sm-size1of2 u-lg-size1of3 u-spaceTop1">
        <div class="u-textCenter">
          <img style="height:16em" src="static/index/presentation.png">
          <h2>Friendly Graphic User Interface</h2>
          <p>Users can make your own applications including GUI on NutsBoard.</p>
        </div>
      </div>
          </div>
  </div>
</div>

      <div class="u-bgWhite">
          <div class="u-containSpread u-pad1">
          <h1 class="u-spaceEnds01">Future Events</h1>
      <div class="Grid Grid--withGutter">
              </div>

        <div class="u-containSpread">
  <hr class="u-space1 u-spaceBottomNone">
  <div class="u-posRelative">
    <p class="u-pad1 u-size2of3">
      <span class="u-inlineBlock u-spaceRight u-textNoWrap">
        Welcome to discuss your application!
      </span>
      <a class="Button Button--secondary u-spaceEnds01 u-textNoWrap" href="mailto:nutsboard@gmail.com">
        Email Us
      </a>
    </p>
  </div>
</div>
      </div>

    </main>

    <footer class="u-containSpread u-padSides1 u-padTop2 u-padBottom3" role="contentinfo">
  <div class="Grid u-posRelative">
    <div class="Grid-cell u-sm-size1of2 u-md-size1of3">
      <p>
        <a href="http://www.nutsboard.org"><strong>NutsBoard.Org</strong></a>
      </p>
      <p>
        No.10, Rong-an,Road, Luzhu Dist., <br>
        Taoyuan City, Taiwan(R.O.C.)
      </p>
      <ul class="u-listUnstyled">
        <li><a href="mailto:mqservice01@gmail.com">nutsboard@gmail.com</a></li>
        <li><a href="tel:88633222201883">+886 3-3222201 ext:516</a></li>
      </ul>

    </div>
    <hr class="Grid-cell u-md-hidden u-spaceTop1 u-spaceBottomNone">
    <p class="Grid-cell u-spaceTop1 u-md-sizeFit u-md-flexAlignSelfEnd u-md-flexExpandLeft">
      <small>© 2017 NutsBoard, Org.</small>
    </p>
  </div>
</footer>

<script type="text/javascript" src="static/index/main.js"></script>


    <template id="offline-message-template">
      <div class="Message Message--warning" id="offline-message">
  <p>
    You seem to be offline at the moment.
    <span class="u-hidden u-md-inlineBlock">We’ll keep trying to connect.</span>
    <a class="u-textNoWrap" href="">Try again</a>
  </p>
  <button class="Message-close" onclick="this.parentElement.remove()">
        <svg viewBox="0 0 24 24" width="24" height="24" class="Icon Icon--block" aria-labelledby="Message-close-title"><title id="Message-close-title">Close</title><g transform="rotate(45 12 12)" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round"><line x1="12" y1="3" x2="12" y2="21"></line><line x1="3" y1="12" x2="21" y2="12"></line></g></svg>

  </button>
</div>
    </template>
  

</body></html>
