<!DOCTYPE html>
<html lang="en-US"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>
          NutsBoard: The Open Source of the industrial boards
      </title>
  <meta http-equiv="x-ua-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#456BD9">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="onesignal" content="wordpress-plugin">
          <link rel="manifest" href="#">

<link rel="stylesheet" id="toolkit-css" href="static/almond_download/main.css" type="text/css" media="all">



</head>

  <body>

    <div class="Sky ">
  <div class="u-containSpread">
    <header class="Sky-nav" role="banner">
      <ul class="Sky-nav-controls">
        <li><a class="Sky-nav-controls-skipToMenu Button" href="#menu" ><b>Selection</b></a></li>
      </ul>
      <a  href="/">
               <img src="static/index/mq2-fb.png">
      </a>
            <nav class="Sky-nav-menu is-active">
        <ul class="Sky-nav-menu-items">
      <li><a class="Sky-nav-menu-item" href="/" aria-current=""><b>Home</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/approach"><b>About Us</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/products"><b>Products</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/download"><b>Download</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/community"><b>Community</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/shop"><b>Shop</b></a></li>
  </ul>
      </nav>
    </header>
  </div>
</div>

    <main role="main" id="main">

              <div class="Sky">
          <div class="u-containSpread">
              <div class="u-pad1 u-flex u-flexWrap u-flexAlignItemsBaseline">
    <h1 class="u-textGrow5 u-sm-textGrow6 u-spaceRight1">
              Pistachio
          </h1>
    <p>
      Toolchain, software images and SDK
    </p>
  </div>
          </div>
        </div>

      <div class="u-bgWhite">
          <div class="u-containSpread u-pad1">
    <h1 class="u-spaceEnds01">Tools</h1>
    <div class="Grid Grid--withGutter">

              <article class="Grid-cell u-flex u-spaceEnds2 u-md-size1of2 u-lg-size1of3">
          <div class="u-flex">
            <div class="Thumbnail Thumbnail--circle u-flexAlignSelfStart u-flexShrink0">
              <img src="static/almond_download/drizzle.png" alt="" style="width: 4rem; height: 4rem;">
            </div>
            <div class="u-spaceLeft u-flex u-flexCol u-size1of1">
              <h3 class="u-textGrow1">Toolchain</h3>
              <p class="u-md-padRight">Linaro GCC 5.3-2016.02 from recommended TI official website.</p>
              <ul class="u-listInline u-padTop01 u-flexExpandTop">
                <li><a href="https://releases.linaro.org/components/toolchain/binaries/5.3-2016.02/arm-linux-gnueabihf/gcc-linaro-5.3-2016.02-x86_64_arm-linux-gnueabihf.tar.xz">Source</a></li>
              </ul>
            </div>
          </div>
        </article>
              <article class="Grid-cell u-flex u-spaceEnds2 u-md-size1of2 u-lg-size1of3">
          <div class="u-flex">
            <div class="Thumbnail Thumbnail--circle u-flexAlignSelfStart u-flexShrink0">
              <img src="static/almond_download/vm.png" alt="" style="width: 4rem; height: 4rem;">
            </div>
            <div class="u-spaceLeft u-flex u-flexCol u-size1of1">
              <h3 class="u-textGrow1">VMware Image</h3>
              <p class="u-md-padRight">NutsBoard customized an easy to develop environment.</p>
              <ul class="u-listInline u-padTop01 u-flexExpandTop">
                                  <li><a href="https://www.dropbox.com/s/dh20aajzodc95ye/20170724_nutsboard-vm_ubuntu-16.04.zip?dl=0">Ubuntu-16.04 LTS</a></li>
                              </ul>
            </div>
          </div>
        </article>
              <article class="Grid-cell u-flex u-spaceEnds2 u-md-size1of2 u-lg-size1of3">
          <div class="u-flex">
            <div class="Thumbnail Thumbnail--circle u-flexAlignSelfStart u-flexShrink0">
              <img src="static/almond_download/usbit.png" alt="" style="width: 4rem; height: 4rem;">
            </div>
            <div class="u-spaceLeft u-flex u-flexCol u-size1of1">
              <h3 class="u-textGrow1">uSD card</h3>
              <p class="u-md-padRight">It is easy to flashing the image for windows users.</p>
              <ul class="u-listInline u-padTop01 u-flexExpandTop">
                                  <li><a href="https://mega.nz/#!NsUkha4Q!NIyvA-bSPDTfGFNg8IlhSAbv7t9lGexmQlFDV3qt_b8">windows</a></li>
                              </ul>
            </div>
          </div>
        </article>
    </div>
    </div>
    </div>

      <div class="u-bgWhite">
          <div class="u-containSpread u-pad1">
    <h1 class="u-spaceEnds01">Resources - Pistachio SBC</h1>
    <div class="Grid Grid--withGutter">

    <article class="Grid-cell u-flex u-spaceEnds2 u-md-size1of2 u-lg-size1of3">
    <div class="u-flex">
    <div class="Thumbnail Thumbnail--circle u-flexAlignSelfStart u-flexShrink0">
      <img src="static/almond_download/linux.png" alt="" style="width: 4rem; height: 4rem;">
    </div>
    <div class="u-spaceLeft u-flex u-flexCol u-size1of1">
      <h3 class="u-textGrow1">Linux SDK</h3>
      <p class="u-md-padRight">U-Boot 2015.04,Linux Kernel 4.1.15 and 4.9.11</p>
      <ul class="u-listInline u-padTop01 u-flexExpandTop">
      <li><a href="https://github.com/pistacho-android-7/uboot-imx">Github - U-boot</a></li>
      <li><a href="https://github.com/nutsboard/linux-imx">Github - Linux Kernel</a></li>
      </ul>
    </div>
    </div>
    </article>

      <article class="Grid-cell u-flex u-spaceEnds2 u-md-size1of2 u-lg-size1of3">
      <div class="u-flex">
        <div class="Thumbnail Thumbnail--circle u-flexAlignSelfStart u-flexShrink0">
          <img src="static/almond_download/naogat.png" alt="" style="width: 4rem; height: 4rem;">
        </div>
        <div class="u-spaceLeft u-flex u-flexCol u-size1of1">
          <h3 class="u-textGrow1">Android Nougat - 7.1.1</h3>
          <p class="u-md-padRight">Default image is eMMC installer</p>
          <p class="u-md-padRight">Release Date: August 11,2017</p>
          <ul class="u-listInline u-padTop01 u-flexExpandTop">
          <li><a href="https://www.dropbox.com/s/9cjryz62uqm4d5g/08172017_pistachio-sbc_android-7.1.1_hdmi_vga_installer.zip?dl=0">HDMI-VGA-Installer</a></li>
          <li><a href="https://www.dropbox.com/s/5cafz4esri7uj4o/08172017_pistachio-sbc_android-7.1.1_lvds-7inch_installer.zip?dl=0">7-LVDS-Installer</a></li>
          <li><a href="https://github.com/pistacho-android-7">Source-Git</a></li>
          <li><a href="https://www.dropbox.com/s/onrc52k5gn2w3q7/pistachio_android-7.1.1_source_08112017.tar.xz?dl=0">Source-Zip</a></li>
          </ul>
        </div>
      </div>
      </article>

      <article class="Grid-cell u-flex u-spaceEnds2 u-md-size1of2 u-lg-size1of3">
      <div class="u-flex">
        <div class="Thumbnail Thumbnail--circle u-flexAlignSelfStart u-flexShrink0">
          <img src="static/almond_download/debian.png" alt="" style="width: 4rem; height: 4rem;">
        </div>
        <div class="u-spaceLeft u-flex u-flexCol u-size1of1">
          <h3 class="u-textGrow1">Debian Stretch Lite - 9.1</h3>
          <p class="u-md-padRight">Latest Updated: September 25,2017</p>
          <p class="u-md-padRight">Release Date: August 24,2017</p>
          <ul class="u-listInline u-padTop01 u-flexExpandTop">
          <li><a href="https://www.dropbox.com/s/5yt8phndy2o0q2l/09252017_pistachio-sbc_debian-lite-9.1_hdmi_vga_installer.zip?dl=0">HDMI-VGA-Installer</a></li>
          </ul>
        </div>
      </div>
      </article>


      <article class="Grid-cell u-flex u-spaceEnds2 u-md-size1of2 u-lg-size1of3">
      <div class="u-flex">
        <div class="Thumbnail Thumbnail--circle u-flexAlignSelfStart u-flexShrink0">
          <img src="static/almond_download/debian_lxde.png" alt="" style="width: 4rem; height: 4rem;">
        </div>
        <div class="u-spaceLeft u-flex u-flexCol u-size1of1">
          <h3 class="u-textGrow1">Debian Stretch LXDE Desktop - 9.1</h3>
          <p class="u-md-padRight">Default image is eMMC installer</p>
          <p class="u-md-padRight">Release Date: September 14,2017</p>
          <ul class="u-listInline u-padTop01 u-flexExpandTop">
          <li><a href="https://www.dropbox.com/s/69uwo2fszp0zgtn/09122017_pistachio-sbc_debian-desktop-9.1_hdmi_vga_installer.zip?dl=0">HDMI-VGA-Installer</a></li>
          </ul>
        </div>
      </div>
      </article>



          </div>

    <hr class="u-spaceEnds1 u-spaceBottom2">

    <h1 class="u-spaceEnds01">Experiments</h1>
    <div class="Grid Grid--withGutter">
          </div>
  </div>
        <div class="u-containSpread">
  <hr class="u-space1 u-spaceBottomNone">
  <div class="u-posRelative">
    <p class="u-pad1 u-size2of3">
      <span class="u-inlineBlock u-textGrow1 u-spaceRight u-textNoWrap">
        Welcome to discuss your application!
      </span>
      <a class="Button Button--secondary u-spaceEnds01 u-textNoWrap" href="mailto:nutsboard@gmail.com">
        Email Us
      </a>
    </p>
  </div>
</div>
      </div>

    </main>

    <footer class="u-containSpread u-padSides1 u-padTop2 u-padBottom3" role="contentinfo">
  <div class="Grid u-posRelative">
    <div class="Grid-cell u-sm-size1of2 u-md-size1of3">
      <p>
        <a href="http://www.nutsboard.org"><strong>NutsBoard.Org</strong></a>
      </p>

      <ul class="u-listUnstyled">
        <li><a href="mailto:nutsboard@gmail.com">nutsboard@gmail.com</a></li>
      </ul>
      <p>
        <a><strong>886-3-212-0057</strong></a>
      </p>
    </div>
    <hr class="Grid-cell u-md-hidden u-spaceTop1 u-spaceBottomNone">
    <p class="Grid-cell u-spaceTop1 u-md-sizeFit u-md-flexAlignSelfEnd u-md-flexExpandLeft">
      <small>© 2017 NutsBoard, Org.</small>
    </p>
  </div>
</footer>

<script type="text/javascript" src="static/almond_download/main.js"></script>


    <template id="offline-message-template">
      <div class="Message Message--warning" id="offline-message">
  <p>
    You seem to be offline at the moment.
    <span class="u-hidden u-md-inlineBlock">We’ll keep trying to connect.</span>
    <a class="u-textNoWrap" href="">Try again</a>
  </p>
  <button class="Message-close" onclick="this.parentElement.remove()">
        <svg viewBox="0 0 24 24" width="24" height="24" class="Icon Icon--block" aria-labelledby="Message-close-title"><title id="Message-close-title">Close</title><g transform="rotate(45 12 12)" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round"><line x1="12" y1="3" x2="12" y2="21"></line><line x1="3" y1="12" x2="21" y2="12"></line></g></svg>

  </button>
</div>
    </template>
  

</body></html>
