<!DOCTYPE html>
<html lang="en-US"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="UTF-8">
  <title>
          NutsBoard: The Open Source of the industrial boards
      </title>
  <meta http-equiv="x-ua-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#456BD9">
  <meta name="msapplication-config" content="/browserconfig.xml">
  <meta name="onesignal" content="wordpress-plugin">
          <link rel="manifest" href="#">
          <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-98519910-1', 'auto');
          ga('send', 'pageview');

          </script>
<link rel="stylesheet" id="toolkit-css" href="static/index/main.css" type="text/css" media="all">


</head>

  <body>

    <div class="Sky ">
  <div class="u-containSpread">
    <header class="Sky-nav" role="banner">
      <ul class="Sky-nav-controls">
        <li><a class="Sky-nav-controls-skipToMenu Button" href="#menu" ><b>Selection</b></a></li>
      </ul>
      <a  href="/">
               <img src="static/index/mq2-fb.png">
      </a>
            <nav class="Sky-nav-menu is-active">
        <ul class="Sky-nav-menu-items">
      <li><a class="Sky-nav-menu-item" href="/" aria-current=""><b>Home</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/approach"><b>About Us</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/products"><b>Products</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/download"><b>Download</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/community"><b>Community</b></a></li>
      <li><a class="Sky-nav-menu-item" href="/shop"><b>Shop</b></a></li>
  </ul>
      </nav>
    </header>
  </div>
</div>

    <main role="main" id="main">

              <div class="Sky">
          <div class="u-containSpread">
              <div class="u-pad1 u-flex u-flexWrap u-flexAlignItemsBaseline">
    <h1 class="u-textGrow5 u-sm-textGrow6 u-spaceRight1">
              Products
          </h1>
    <p>
      All NutsBoard Embedded products in here!
    </p>
  </div>
          </div>
        </div>

      <div class="u-bgWhite">
          <div class="u-containSpread u-pad1">
          <h1 class="u-spaceEnds01">Product List</h1>
      <div class="Grid Grid--withGutter">
              </div>
      <hr class="u-spaceEnds1">
      <h1 class="u-spaceEnds01">System-On-Module</h1>
    
    <div class="Grid Grid--withGutter">
              <article class="Grid-cell u-spaceEnds01 u-spaceBottom1 u-sm-size1of2 u-md-size1of3">
          <a href="/almond" class="u-linkBlock u-textInheritColor">
            <div class="Thumbnail u-block u-pullSides1 u-sm-spaceSidesNone u-sm-borderRadius">
                                            <img class="u-sizeFull" src="static/products/almond.png" alt="" sizes="(max-width: 29.9375em) 100vw,
                         (max-width: 47.9375em), 50vw,
                         33vw">
                          </div>
            <h2 class="u-spaceTop01 u-linkTarget">
              Almond
            </h2>
            <p class="u-textBold">TI AM3352 CPU, 68x38mm</p>
            <p class="u-sm-padRight">Announce date:01/2017</p>
                      </a>
        </article>
          </div>

      <hr class="u-spaceEnds1">
      <h1 class="u-spaceEnds01">Single-Board-Computer</h1>

    <div class="Grid Grid--withGutter">
              <article class="Grid-cell u-spaceEnds01 u-spaceBottom1 u-sm-size1of2 u-md-size1of3">
          <a href="/pistacho" class="u-linkBlock u-textInheritColor">
            <div class="Thumbnail u-block u-pullSides1 u-sm-spaceSidesNone u-sm-borderRadius">
                                            <img class="u-sizeFull" src="static/products/pistacho.jpg" alt="" sizes="(max-width: 29.9375em) 100vw,
                         (max-width: 47.9375em), 50vw,
                         33vw">
                          </div>
            <h2 class="u-spaceTop01 u-linkTarget">
             Pistachio
            </h2>
            <p class="u-textBold">NXP IMX6 CPU, 146x102mm</p>
            <p class="u-sm-padRight">Will soon be released</p>
                      </a>
        </article>
          </div>
  </div>


  


        <div class="u-containSpread">
  <hr class="u-space1 u-spaceBottomNone">
  <div class="u-posRelative">
    <p class="u-pad1 u-size2of3">
      <span class="u-inlineBlock u-textGrow1 u-spaceRight u-textNoWrap">
        Welcome to discuss your application!
      </span>
      <a class="Button Button--secondary u-spaceEnds01 u-textNoWrap" href="mailto:nutsboard@gmail.com">
        Email Us
      </a>
    </p>
  </div>
</div>
      </div>

    </main>

    <footer class="u-containSpread u-padSides1 u-padTop2 u-padBottom3" role="contentinfo">
  <div class="Grid u-posRelative">
    <div class="Grid-cell u-sm-size1of2 u-md-size1of3">
      <p>
        <a href="http://www.nutsboard.org"><strong>NutsBoard.Org</strong></a>
      </p>
      <p>
        No.10, Rong-an,Road, Luzhu Dist., <br>
        Taoyuan City, Taiwan(R.O.C.)
      </p>
      <ul class="u-listUnstyled">
        <li><a href="mailto:mqservice01@gmail.com">nutsboard@gmail.com</a></li>
        <li><a href="tel:88633222201883">+886 3-3222201 ext:516</a></li>
      </ul>

    </div>
    <hr class="Grid-cell u-md-hidden u-spaceTop1 u-spaceBottomNone">
    <p class="Grid-cell u-spaceTop1 u-md-sizeFit u-md-flexAlignSelfEnd u-md-flexExpandLeft">
      <small>© 2017 NutsBoard, Org.</small>
    </p>
  </div>
</footer>

<script type="text/javascript" src="static/products/main.js"></script>


    <template id="offline-message-template">
      <div class="Message Message--warning" id="offline-message">
  <p>
    You seem to be offline at the moment.
    <span class="u-hidden u-md-inlineBlock">We’ll keep trying to connect.</span>
    <a class="u-textNoWrap" href="">Try again</a>
  </p>
  <button class="Message-close" onclick="this.parentElement.remove()">
        <svg viewBox="0 0 24 24" width="24" height="24" class="Icon Icon--block" aria-labelledby="Message-close-title"><title id="Message-close-title">Close</title><g transform="rotate(45 12 12)" fill="none" stroke="currentColor" stroke-width="4" stroke-linecap="round"><line x1="12" y1="3" x2="12" y2="21"></line><line x1="3" y1="12" x2="21" y2="12"></line></g></svg>

  </button>
</div>
    </template>
  

</body></html>
