#header h6 a { 
	background-color: transparent; 
	background-image: url("VarisciteLogo.png"); 
	background-repeat: no-repeat; 
	width: 287px;
	height: 55px;
	margin-top: 10px;
	}
	#nav #p-search {
		display:none;
	}#f-poweredbyico {
	display:none;
}
			